<footer class="footer-area section-padding-100">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container-fluid">
            <div class="row">

                <div class="col-12 col-sm-6 col-xl-6">
                    <div class="footer-widget-area">
                        <div class="footer-logo">
                            <img src="{{ asset('assets/img/manrique/icon.png') }}" alt="">
                        </div>
                        <p>Supervigilancia.</p></br>
                        <p>Resoluci칩n 20181300006807 del 12 de Febrero de 2018.</p>
                        <div class="footer-social-info">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </div>

                {#
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Latest News</h6>
                        </div>
                        <div class="widget-blog-post">
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex">
                                <div class="widget-post-thumbnail">
                                    <img src="img/blog-img/ln1.jpg" alt="">
                                </div>
                                <div class="widget-post-content">
                                    <a href="#">Better Health Care</a>
                                    <p>Dec 02, 2017</p>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex">
                                <div class="widget-post-thumbnail">
                                    <img src="img/blog-img/ln2.jpg" alt="">
                                </div>
                                <div class="widget-post-content">
                                    <a href="#">A new drug is tested</a>
                                    <p>Dec 02, 2017</p>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex">
                                <div class="widget-post-thumbnail">
                                    <img src="img/blog-img/ln3.jpg" alt="">
                                </div>
                                <div class="widget-post-content">
                                    <a href="#">Health department advice</a>
                                    <p>Dec 02, 2017</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                #}
                {#
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Formulario de Contacto </h6>
                        </div>
                        <div class="footer-contact-form">
                            <form action="#" method="post">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="footer-name" id="footer-name" placeholder="Name">
                                <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="footer-email" id="footer-email" placeholder="Email">
                                <textarea name="message" class="form-control border-top-0 border-right-0 border-left-0" id="footerMessage" placeholder="Message"></textarea>
                                <button type="submit" class="btn medilife-btn">Contact Us <span>+</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                #}

                <div class="col-12 col-sm-6 col-xl-6">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Informes Poligr치ficos </h6>
                        </div>

                        <div class="">
                            <form action="#">

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Usuario" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Contrase침a" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Iniciar Sesi칩n">
                                </div>

                            </form>
                            <p>Mensaje.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="bottom-footer-content">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                <br/>
                                Copyright &copy; <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados.
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                            <p>Programado <a href="https://mipcsoft.com/" target="_blank">Mipcsoft</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>