<div class="main-header-area" id="stickyHeader">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 h-100">
                <div class="main-menu h-100">
                    <nav class="navbar h-100 navbar-expand-lg">
                        <!-- Logo Area  -->
                        <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('assets/img/core-img/logo.png') }}" alt="Logo"></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                        <div class="collapse navbar-collapse" id="medilifeMenu">
                            <!-- Menu Area -->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('index') }}">Inicio <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empresa </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="javascript:;">Quienes somos </a>
                                        <a class="dropdown-item" href="javascript:;">Misión </a>
                                        <a class="dropdown-item" href="javascript:;">Visión </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Política </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="javascript:;">Valores corporativos </a>
                                        <a class="dropdown-item" href="javascript:;">Recurso humano </a>
                                        <a class="dropdown-item" href="javascript:;">Política de calidad </a>
                                        <a class="dropdown-item" href="javascript:;">Política de confidencialidad </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portafolio </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="javascript:;">Poligrafía </a>
                                        <a class="dropdown-item" href="javascript:;">Gestión </a>
                                        <a class="dropdown-item" href="javascript:;">Estudios y pre selección de personal </a>
                                        <a class="dropdown-item" href="javascript:;">Administración estratégica de la información </a>
                                        <a class="dropdown-item" href="javascript:;">Estrategias de seguridad y administración del riesgo </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacto </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="javascript:;">Escribanos </a>
                                        <a class="dropdown-item" href="javascript:;">Ubíquenos </a>
                                        <a class="dropdown-item" href="javascript:;">Redes sociales </a>
                                    </div>
                                </li>

                            </ul>
                            <!-- Appointment Button -->
                            <a href="https://api.whatsapp.com/send?phone=numero&text=mensaje" class="btn medilife-appoint-btn ml-30"><span>Whatsapp</span> Click here</a>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>