<div class="top-header-area">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="h-100 d-md-flex justify-content-between align-items-center">
                    <p>Welcome to <span>Medifile</span> template</p>
                    <p>Opening Hours : Monday to Saturday - 8am to 10pm Contact : <span>+12-823-611-8721</span></p>
                </div>
            </div>
        </div>
    </div>
</div>