<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <p>2019 &copy; GPS & P | Todos los derechos reservados. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            </div>
            <div class="span4">
                <a href="index.html"><img id="logo-footer" src="{{ asset('assets/img/manrique/iconfinder_flag_colombia_92836.png') }}" class="pull-right" alt="" /></a>
            </div>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div><!--/copyright-->