<div class="top">
    <div class="container">
        <div class="row-fluid">
            <ul class="loginbar inline">
                <li><a href="mailto:info@anybiz.com"><i class="icon-envelope-alt"></i> info@anybiz.com</a></li>
                <li><a><i class="icon-phone-sign"></i> 010 4202 2656</a></li>
                <li><a href="page_login.html"><i class="icon-user"></i> LOGIN</a></li>
            </ul>
        </div>
    </div><!--/container-->
</div><!--/top-->