<div class="top">
    <div class="container">
        <div class="row-fluid">
            <ul class="loginbar inline">
                <li><a href="asistente@gps-p.com" target="_blank"><i class="icon-envelope-alt"></i> asistente@gps-p.com</a></li>
                <li>PBX&nbsp; <a><i class="icon-phone-sign"></i> (57)(1) 3 001300</a></li>
                <li><a href="https://www.google.com/maps" target="_blank"><i class="icon-pushpin"></i> Cr 15 # 97 - 47 Of.304 Bogotá (Col) </a> </li>
                <li><img src="{{ asset('assets/img/manrique/iconfinder_flag_colombia_92836.png') }}" /></li>
                <!--<li><a href="page_login.html"><i class="icon-user"></i> LOGIN</a></li>-->
            </ul>
        </div>
    </div><!--/container-->
</div><!--/top-->