{% extends 'base.html.twig' %}

{% block body %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h3 class="color-green pull-left">ADMINISTRACIÓN ESTRATÉGICA DE LA INFORMACIÓN</h3>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Portafolio</a> <span class="divider">/</span></li>
                <li class="active">Administración estratégica de la información</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container">
        <div class="row-fluid privacy">
            <p class="lead"><em></em><p>
            <h4>
                <ul>
                    <li> - Análisis estratégico, táctico y coyuntural.
                    <li> - Preparación y conducción de academias, conversatorios, seminarios y talleres prácticos relacionadas con la Seguridad  Integral.
                    <li> - Tutoría de tesis y trabajos de grado para la carrera de Administración de la Seguridad integral, diplomados y cursos afines.
                    <li> - Formulación de Apreciaciones de Situación sobre agentes y factores de amenaza tanto internos como externos.
                    <li> - Peritaje y criminalística.
                    <li> - Capacitación en seminarios y talleres prácticos para evaluación de CONFIABILIDAD
                    <li> - Peritaje, asesoría y capacitación criminalística.
                    <li> - Perfilación criminal.
                <ul>
        </div><!--/row-fluid-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
    <!--=== Footer ===-->
    <div class="footer">
        {{ include('unify/footer.html.twig') }}
    </div><!--/footer-->
    <!--=== End Footer ===-->


{% endblock %}

{% block javascripts  %}
    {{ parent() }}

{% endblock %}