{% extends 'base.html.twig' %}

{% block body %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h3 class="color-green pull-left">ESTRATEGIAS DE SEGURIDAD Y ADMINISTRACIÓN DEL RIESGO</h3>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Portafolio</a> <span class="divider">/</span></li>
                <li class="active">Estrategias de seguridad y administración del riesgo  </li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container">
        <div class="row-fluid privacy">
            <p class="lead"><em></em><p>
            <h4>
                <ul>
                    <li>- Planes corporativos de manejo del riesgo, gestión de emergencias y situaciones de crisis.
                    <li>- Investigación privada y monitoreo de las amenazas.
                    <li>- Preparación, formulación y sustentación de Estudios de Seguridad física y empresarial.
                    <li>- Esquema de seguridad de personal y empresarial.
                    <li>- Verificación de seguridad de personas e instalaciones.
                    <li>- Prevención y consejería contra extorsión y secuestro.
                    <li>- Auditorías integrales de seguridad.
                    <li>- Capacitación en cultura de la Seguridad Integral.
        </div><!--/row-fluid-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

    <!--=== Footer ===-->
    <div class="footer">
        {{ include('unify/footer.html.twig') }}
    </div><!--/footer-->
    <!--=== End Footer ===-->


{% endblock %}

{% block javascripts  %}
    {{ parent() }}

{% endblock %}