{% extends 'base.html.twig' %}

{% block body %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h3 class="color-green pull-left">POLIGRAFÍA:</h3>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Portafolio</a> <span class="divider">/</span></li>
                <li class="active">Poligrafía </li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container">
    <div class="row-fluid blog-page">
        <!-- Left Sidebar -->
        <div class="span9">

            <ul class="unstyled inline blog-tags">
            </ul>
                <table>
                    <tr><td align="justify">El servicio de poligrafía que ofrece GPS & P Ltda. cuenta con los estándares Universales de la Asociación Americana de Poligrafistas (APA), el cual se realiza por profesionales entrenados por Instituciones certificadas por la APA con amplia experiencia en capacitación, procesos de selección, entrevistas, investigaciones, criminalística, Inteligencia y Contrainteligencia; actividades en las cuales se emplean equipos poligráficos de última tecnología respaldados por Lafayette Instrument Company.
                    <br>
                    <br>La actividad de poligrafía que ofrece la compañía está basada en un proceder ético, trato humano y digno, guardando las normas y el respeto por los derechos humanos para alcanzar resultados altamente confiables y de calidad.
                    </td></tr>
                </table>

    <!--=== Content Part ===-->
    <div class="container">
      <div class="row-fluid blog-page">
        <!-- Left Sidebar -->
        <div class="span9">
            <div class="blog margin-bottom-30">
                <h3>PROCEDIMIENTOS POLIGRÁFICOS:</h3>
                <ul class="unstyled inline blog-tags">
                </ul>
                <table>
                <tr><td align="justify">El servicio de poligrafía que ofrece GPS & P Ltda. cuenta con los estándares Universales de la Asociación Americana de Poligrafistas (APA), el cual se realiza por profesionales entrenados por Instituciones certificadas por la APA con amplia experiencia en capacitación, procesos de selección, entrevistas, investigaciones, criminalística, Inteligencia y Contrainteligencia; actividades en las cuales se emplean equipos poligráficos de última tecnología respaldados por Lafayette Instrument Company. La actividad de poligrafía que ofrece la compañía está basada en un proceder ético, trato humano y digno, guardando las normas y el respeto por los derechos humanos para alcanzar resultados altamente confiables y de calidad.
                </td></tr>
                </table>

<!--=== Content Part ===-->
   <div class="container">
      <div class="row-fluid blog-page">
         <!-- Left Sidebar -->
                   <div class="span9">
                   <div class="blog margin-bottom-30">
                   <h3></h3>
                   <table>
                   <tr><td align="justify">Para cumplir adecuadamente con un protocolo poligráfico se debe realizar una entrevista inicial o el PRETEST con el propósito de preparar al individuo psicológicamente para la examinación, posteriormente se  obtiene unos registros con los sensores conectados al cuerpo con una preguntas previamente revisadas , luego en colocar los sensores o aditamentos para sí poder registrar en un gráfico las reacciones fisiológicas del sujeto ante estas preguntas y donde normalmente se obtiene un mínimo de tres exámenes, para poder obtener un resultado el cual puede ser:<p>
                   <h5>NDI:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp No existen indicadores de decepción, engaño o mentira.
                   <h5>DI:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Existen indicadores de decepción, engaño o mentira.
                   <h5>INCONCLUSO:&nbsp &nbsp &nbsp &nbsp &nbsp La evaluación no es concluyente.
                   <h5>NO OPINIO:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp No existe ninguna opinión con respecto al resultado.
                   <h5>En los últimos 75 años se han realizados más de 250 estudios para determinar la confiabilidad del examen poligráfico y por lo tanto se ha concluido, que un examen conducido por un poligrafista altamente capacitado permite una confiabilidad del 90 al 95%, es decir el grado de confiabilidad está en función del uso adecuado del instrumento y de la correcta evaluación de sus productos, como en este caso es la reglamentación de GPS &P.
                   <h5>Por lo tanto y para ese propósito el servicio de poligrafía que ofrece GPS & P Ltda. cuenta con los estándares Universales exigidos por la Asociación Americana de Poligrafistas (APA), entidad, que rige el ejercicio profesional de la poligrafía a nivel mundial  el cual para nuestro caso se realiza es auditado a su vez por nuestro poligrafista principal  capacitado en diversos países y con amplia experiencia en las FF.MM, relacionada con  procesos de selección, entrevistas, investigaciones, criminalística, Inteligencia, contrainteligencia y  psicología, que le dan un valor agregado a cada una de nuestras evaluaciones.
                   <h5>Para el logro del nivel de calidad en dicha actividad se emplean equipos poligráficos de última tecnología respaldados por Lafayette instrument company e igualmente los exámenes de poligrafía serán practicadas en nuestra empresa basados en un proceder ético, trato humano y digno, guardando las normas y el respeto por los derechos humanos, no tratar asuntos de intimidad y así alcanzar resultados altamente confiables y de calidad.
                </td></tr>
                </table>
                </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container portfolio-item">
    <div class="row-fluid margin-bottom-20">
        <!-- Carousel -->
        <div class="span7">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="assets/img/carousel/5.jpg" alt="">
                        <div class="carousel-caption">
                            <h4>First Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/carousel/4.jpg" alt="">
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/carousel/3.jpg" alt="">
                        <div class="carousel-caption">
                            <h4>Third Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control"><i class="icon-angle-left"></i></a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control"><i class="icon-angle-right"></i></a>
                </div>
            </div>
        </div><!--/span7-->
        <!-- //End Tabs and Carousel -->

        <div class="span5">
            <p><a class="btn-u btn-u-large" href="#">EXÁMENES DE PRE-EMPLEO:</a></p>
            </ul>
            <table>
                <tr><td align="justify">1- los cuales le permitirán a su empresa alcanzar niveles de PREVENCIÓN y determinar si el futuro empleado ha sido honesto al diligenciar y proporcionar la información requerida en su hoja de vida.
                        <br>2- Establecer violaciones a la ley o la existencia de antecedentes judiciales o policiales.
                        <br>3- Abuso de sustancias psicoactivas, tanto legales como ilegales en diferentes contextos.
                        <br>4-Faltas o violaciones al Código de Trabajo.
                        <br>5- Casos de Infiltración que conlleven a situaciones posteriores de sabotaje, espionaje industrial, secuestros, extorsiones, estafas y hurtos entre otros.
                        <br>6- Vinculaciones con organizaciones al margen de la ley.
                </td></tr>
            </table>
            </ul>
            </div>
    </div><!--/row-fluid-->

    <div class="span6">
        <p><a class="btn-u btn-u-large" href="#">LOS EXÁMENES DE RUTINA O CARGO SENSIBLE:</a></p>
        </ul>
        <table>
            <tr><td align="justify">cumplen un destacado papel en labores de DETECCIÓN, con base a las necesidades o requerimientos de nuestros clientes, buscando establecer entre otros las siguientes situaciones:
                    <br>Si el examinado está cumpliendo los procedimientos, políticas  y funciones estipuladas por la empresa
                    <br>Detectar oportunamente actos o conductas contrarias a la filosofía empresarial, que puedan llegar a generar niveles de riesgo o amenaza contra las personas, el patrimonio, los bienes o los servicios.
                    <br> Cada uno de los exámenes practicados permite realizarse en un periodo de tiempo igual o aproximado a dos horas, empleando para el caso salas adecuadas que permitan la confiabilidad y el buen desarrollo de la actividad.
            </td></tr>
        </table>
        </ul>
    </div>
</div><!--/row-fluid-->


          <!--=== Content Part ===-->
          <div class="container portfolio-item">
              <div class="row-fluid margin-bottom-20">
                  <!-- Carousel -->
                  <div class="span7">
                      <div id="myCarousel" class="carousel slide">
                          <div class="carousel-inner">
                              <div class="item active">
                                  <img src="assets/img/carousel/5.jpg" alt="">
                                  <div class="carousel-caption">
                                      <h4>First Thumbnail label</h4>
                                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
                                  </div>
                              </div>
                              <div class="item">
                                  <img src="assets/img/carousel/4.jpg" alt="">
                                  <div class="carousel-caption">
                                      <h4>Second Thumbnail label</h4>
                                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
                                  </div>
                              </div>
                              <div class="item">
                                  <img src="assets/img/carousel/3.jpg" alt="">
                                  <div class="carousel-caption">
                                      <h4>Third Thumbnail label</h4>
                                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-arrow">
                              <a data-slide="prev" href="#myCarousel" class="left carousel-control"><i class="icon-angle-left"></i></a>
                              <a data-slide="next" href="#myCarousel" class="right carousel-control"><i class="icon-angle-right"></i></a>
                          </div>
                      </div>
                  </div><!--/span7-->
                  <!-- //End Tabs and Carousel -->

                  <div class="span5">
                      <p><a class="btn-u btn-u-large" href="#">EXÁMENES POR ASUNTOS ESPECIFICOS:</a></p>
                      </ul>
                      <table>
                          <tr><td align="justify">los cuales permitirán confirmar o desvirtuar la participación de la persona en la comisión de un delito o incidente de seguridad, realizando por lo tanto investigaciones integrales relacionadas con manejo, fiscalización de información y datos, valores, equipos, bienes, servicios y asuntos de seguridad en general  .
                                  </br>
                                  </br>Al final del proceso se entrega un informe confidencial de la evaluación poligráfica,  en el cual se determina si el aspirante miente respecto a cuatro tópicos específicos, que sean de interés para el contratante y los cuales deben ser acordados desde el  inicio del contrato, reporta admisiones o informaciones de interés obtenidas en la entrevista, copia de la autorización voluntaria y adicionalmente incluye una fotografía a blanco y negro del examinado.

                              </td></tr>
                      </table>
                      </ul>
                  </div>
              </div><!--/row-fluid-->



    <!--=== Footer ===-->
    <div class="footer">
        {{ include('unify/footer.html.twig') }}
    </div><!--/footer-->
    <!--=== End Footer ===-->


{% endblock %}

{% block javascripts  %}
    {{ parent() }}

{% endblock %}