<section class="elements-area section-padding-100-0">
    <div class="container">

        <div class="row">

            <div class="medilife-tabs-content">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="empleo-tab" data-toggle="tab" href="#empleo" role="tab" aria-controls="empleo" aria-selected="true">Pre-Empleo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sensible-tab" data-toggle="tab" href="#sensible" role="tab" aria-controls="sensible" aria-selected="false">Cargo Sensible</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="especifico-tab" data-toggle="tab" href="#especifico" role="tab" aria-controls="especifico" aria-selected="false">Asuntos Específicos  </a>
                    </li>
                </ul>

                <div class="tab-content mb-100" id="myTabContent">

                    <div class="tab-pane fade show active" id="empleo" role="tabpanel" aria-labelledby="empleo-tab">
                        <div class="medilife-tab-content d-md-flex align-items-center">
                            <!-- Medilife Tab Text  -->
                            <div class="medilife-tab-text">
                                <h4>Exámenes de Pre-Empleo</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli.</p>
                            </div>
                            <!-- Medilife Tab Img  -->
                            <div class="medilife-tab-img">
                                <img src="{{ asset('assets/img/bg-img/tab.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sensible" role="tabpanel" aria-labelledby="sensible-tab">
                        <div class="medilife-tab-content d-md-flex align-items-center">
                            <!-- Medilife Tab Text  -->
                            <div class="medilife-tab-text">
                                <h4>Exámenes de Rutina o Cargo Sensible</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli.</p>
                            </div>
                            <!-- Medilife Tab Img  -->
                            <div class="medilife-tab-img">
                                <img src="{{ asset('assets/img/bg-img/tab.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="especifico" role="tabpanel" aria-labelledby="especifico-tab">
                        <div class="medilife-tab-content d-md-flex align-items-center">
                            <!-- Medilife Tab Text  -->
                            <div class="medilife-tab-text">
                                <h4>Exámenes por Asuntos Específicos</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli.</p>
                            </div>
                            <!-- Medilife Tab Img  -->
                            <div class="medilife-tab-img">
                                <img src="{{ asset('assets/img/bg-img/tab.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>