<div class="medilife-services-area clearfix">

    <!-- Single Services Area -->

    <div class="singleServiceArea equalize d-flex">
        {#
        <div class="singleServiceIcon">
            <i class="icon-clinic-history-2"></i>
        </div>
        #}
        <div class="singleServiceText">
            <h2>Procedimientos Poligráficos: </h2>
            <p>
                La actividad de poligrafía que ofrece la compañía está basada en un proceder ético, trato humano y digno, guardando las normas y el respeto por los derechos humanos para alcanzar resultados altamente confiables y de calidad, para cumplir adecuadamente con un protocolo poligráfico se debe realizar una entrevista inicial o el PRETEST con el propósito de preparar al individuo psicológicamente para la examinación, posteriormente se obtiene unos registros con los sensores conectados al cuerpo con una preguntas previamente revisadas, luego en colocar los sensores o aditamentos para sí poder registrar en un gráfico las reacciones fisiológicas del sujeto ante estas preguntas y donde normalmente se obtiene un mínimo de tres exámenes.
                <br/>
                NDI<br/>
                No existen indicadores de decepción, engaño o mentira.
                <br/>
                DI<br/>
                Existen indicadores de decepción, engaño o mentira.
                <br/>
                INCONCLUSO<br/>
                La evaluación no es concluyente
                <br/>
                NO OPINION<br/>
                No existe ninguna opinión con respecto al resultado.
            </p>
        </div>
    </div>

    <!-- Single Services Area -->

    <div class="singleServiceArea equalize bg-img" style="background-image: url('{{ asset('assets/img/bg-img/about1.jpg') }}');"></div>

    <!-- Single Services Area -->

    <div class="singleServiceArea equalize d-flex">
        {#
        <div class="singleServiceIcon">
            <i class="icon-hospital-4"></i>
        </div>
        #}
        <div class="singleServiceText">
            <h2>Poligrafía: </h2>
            <p>
                <br/>
                El servicio de poligrafía que ofrece GPS & P Ltda. cuenta con los estándares Universales de la Asociación Americana de Poligrafistas (APA), el cual se realiza por profesionales entrenados por Instituciones certificadas por la APA con amplia experiencia en capacitación, procesos de selección, entrevistas, investigaciones, criminalística, Inteligencia y Contrainteligencia;
                <br/>
                actividades en las cuales se emplean equipos poligráficos de última tecnología respaldados por Lafayette Instrument Company.
                <br/><br/>
                La actividad de poligrafía que ofrece la compañía está basada en un proceder ético, trato humano y digno, guardando las normas y el respeto por los derechos humanos para alcanzar resultados altamente confiables y de calidad.
            </p>
        </div>
    </div>



    <!-- Single Services Area -->

</div>