
    <div class="container">

        <div class="row">

            <p class="text-justify">

                En los últimos 75 años se han realizados más de 250 estudios para determinar la confiabilidad del examen poligráfico y por lo tanto se ha concluido, que un examen conducido por un poligrafista altamente capacitado permite una confiabilidad del 90 al 95%, es decir el grado de confiabilidad está en función del uso adecuado del instrumento y de la correcta evaluación de sus productos, como en este caso es la reglamentación de GPS &P.
                <br/>
                Por lo tanto y para ese propósito el servicio de poligrafía que ofrece GPS & P Ltda. cuenta con los estándares Universales exigidos por la Asociación Americana de Poligrafistas (APA), entidad, que rige el ejercicio profesional de la poligrafía a nivel mundial el cual para nuestro caso se realiza es auditado a su vez por nuestro poligrafista principal capacitado en diversos países y con amplia experiencia en las FF.MM, relacionada con procesos de selección, entrevistas, investigaciones, criminalística, Inteligencia, contrainteligencia y psicología, que le dan un valor agregado a cada una de nuestras evaluaciones.
                <br/>
                Para el logro del nivel de calidad en dicha actividad se emplean equipos poligráficos de última tecnología respaldados por Lafayette instrument company e igualmente los exámenes de poligrafía serán practicadas en nuestra empresa basados en un proceder ético, trato humano y digno, guardando las normas y el respeto por los derechos humanos, no tratar asuntos de intimidad y así alcanzar resultados altamente confiables y de calidad.

            </p>


        </div>
    </div>
