<section class="elements-area section-padding-100-0">
    <div class="container">

        <div class="row">

            <div class="medilife-tabs-content">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="empleo-tab" data-toggle="tab" href="#empleo" role="tab" aria-controls="empleo" aria-selected="true">Pre-Empleo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sensible-tab" data-toggle="tab" href="#sensible" role="tab" aria-controls="sensible" aria-selected="false">Cargo Sensible</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="especifico-tab" data-toggle="tab" href="#especifico" role="tab" aria-controls="especifico" aria-selected="false">Asuntos Específicos  </a>
                    </li>
                </ul>

                <div class="tab-content mb-100" id="myTabContent">

                    <div class="tab-pane fade show active" id="empleo" role="tabpanel" aria-labelledby="empleo-tab">
                        <div class="medilife-tab-content d-md-flex align-items-center">
                            <!-- Medilife Tab Text  -->
                            <div class="medilife-tab-text">
                                <body>
                                <h3 style="color:darkblue;">Exámenes de Pre-Empleo</h3>
                                </body>
                                <dl>
                                    <dt>Los cuales le permitirán a su empresa alcanzar niveles de PREVENCIÓN y determinar si el futuro empleado ha sido:</dt>
                                </dl>
                                <ul>
                                    <li align="justify">Honesto al diligenciar y proporcionar la información requerida en su hoja de vida.      </li>
                                    <li align="justify">Establecer violaciones a la ley o la existencia de antecedentes judiciales o policiales.</li>
                                    <li align="justify">Abuso de sustancias psicoactivas, tanto legales como ilegales en diferentes contextos.  </li>
                                    <li align="justify">Faltas o violaciones al Código de Trabajo.                                              </li>
                                    <li align="justify">Casos de Infiltración que conlleven a situaciones posteriores de sabotaje, espionaje industrial, secuestros, extorsiones, estafas y hurtos entre otros.</li>
                                    <li align="justify">Vinculaciones con organizaciones al margen de la ley.
                                </ul>
                            </div>
                            <!-- Medilife Tab Img  -->
                            <div class="medilife-tab-img">
                                <img src="{{ asset('assets/img/manrique/pol14.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sensible" role="tabpanel" aria-labelledby="sensible-tab">
                        <div class="medilife-tab-content d-md-flex align-items-center">
                            <!-- Medilife Tab Text  -->
                            <div class="medilife-tab-text">
                                <h3 style="color:darkblue;">Exámenes de Rutina o Cargo Sensible</h3>
                                <dl>
                                    <dt>cumplen un destacado papel en labores de DETECCIÓN, con base a las necesidades o requerimientos de nuestros clientes, buscando establecer entre otros las siguientes situaciones:</dt>
                                </dl>
                                <ul>
                                    <li align="justify">Si el examinado está cumpliendo los procedimientos, políticas  y funciones estipuladas por la empresa.</li>
                                    <li align="justify">Detectar oportunamente actos o conductas contrarias a la filosofía empresarial, que puedan llegar a generar niveles de riesgo o amenaza contra las personas, el patrimonio, los bienes o los servicios.</li>
                                </ul>
                            </div>
                            <!-- Medilife Tab Img  -->
                            <div class="medilife-tab-img">
                                <img src="{{ asset('assets/img/manrique/pol15.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="especifico" role="tabpanel" aria-labelledby="especifico-tab">
                        <div class="medilife-tab-content d-md-flex align-items-center">
                            <!-- Medilife Tab Text  -->
                            <div class="medilife-tab-text">
                                <h3 style="color:darkblue;">Exámenes por Asuntos Específicos</h3>
                                <ul>
                                    <li align="justify">los cuales permitirán confirmar o desvirtuar la participación de la persona en la comisión de un delito o incidente de seguridad, realizando por lo tanto investigaciones integrales relacionadas con manejo, fiscalización de información y datos, valores, equipos, bienes, servicios y asuntos de seguridad en general.</li>
                                    <li align="justify">Al final del proceso se entrega un informe confidencial de la evaluación poligráfica,  en el cual se determina si el aspirante miente respecto a cuatro tópicos específicos, que sean de interés para el contratante y los cuales deben ser acordados desde el  inicio del contrato, reporta admisiones o informaciones de interés obtenidas en la entrevista, copia de la autorización voluntaria y adicionalmente incluye una fotografía a blanco y negro del examinado.</li>
                                </ul>

                            </div>
                            <!-- Medilife Tab Img  -->
                            <div class="medilife-tab-img">
                                <img src="{{ asset('assets/img/manrique/pol16.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>