{% extends 'base.html.twig' %}

{% block body %}

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('{{ asset('assets/img/bg-img/breadcumb1.jpg') }}');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Visión </h3>
                        <ul class="pull-right breadcrumb">
                            <li class="active">Empresa <span class="divider">/</span></li>
                            <li><a href="{{ path('view') }}">Visión </a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    <!-- ***** Features Area Start ***** -->
    <div class="medilife-features-area section-padding-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="features-content">
                        <p class="text-justify">El Grupo de Profesionales en Seguridad & Poligrafía Ltda. Consultores y Asesores (GPS & Ltda.) se proyecta como una compañía con altos estándares de calidad, que compite con las mejores empresas de su género a través del bienestar y empoderamiento del cliente interno y la satisfacción del cliente externo. Esta compañía se ve a mediano plazo ofertando y comercializando todos los productos y servicios de la Seguridad Integral en el mercado nacional e internacional en beneficio propio, de sus asociados y del sector empresarial y comercial.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="features-thumbnail">
                        <img src="{{ asset('assets/img/bg-img/about1.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Features Area End ***** -->

{% endblock %}

{% block javascripts  %}
    {{ parent() }}

{% endblock %}
