<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(assets/img/bg-img/hero1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Conoce plenamente a tus empleados con pruebas poligráficas <br></h2>
                            <h6 data-animation="fadeInUp" data-delay="400ms">Robos, Delitos Graves, Fugas de Información.</h6>
                            <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Medifile <span>+</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(assets/img/bg-img/breadcumb3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">proceso de pre selección de personal  <br></h2>
                            <h6 data-animation="fadeInUp" data-delay="400ms">Visitas domiciliarias, Ubicación, verificación y referenciación de personal profesional.</h6>
                            <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Medifile <span>+</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(assets/img/bg-img/breadcumb1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Procesos Poligráficos <br></h2>
                            <h6 data-animation="fadeInUp" data-delay="400ms">NDI (No existen indicadores de decepción, engaño o mentira), DI (Existen indicadores de decepción, engaño o mentira)</h6>
                            <h6 data-animation="fadeInUp" data-delay="400ms">INCONCLUSO (La evaluación no es concluyente), NO OPINIO (No existe ninguna opinión con respecto al resultado)</h6>
                            <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Medifile <span>+</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>