<footer class="footer-area section-padding-50">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container-fluid">
            <div class="row">

                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <div align='center'>
                            <h6>Super Vigilancia</h6>
                            </div>
                        </div>
                        <div class="widget-blog-post">
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex">
                                <div class="widget-post-thumbnail">

                                </div>
                                <div class="widget-post-content">
                                    <a href="#">Resolución No 20181300006807</a>
                                    <a href="#">12 de Febrero de 2018</a>
                                </div>
                            </div>

                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex">
                                <div class="widget-post-thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Redes Sociales</h6>
                        </div>
                            <div class="footer-social-info">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-xl-4">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <div align='center'>
                                <h6>Contactenos</h6>
                            </div>
                        </div>
                        <div class="widget-blog-post">
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex">
                                <div class="widget-post-thumbnail">

                                </div>
                                <div class="widget-post-content">
                                    <a href="#">PBX: (57)(1) 3 001300</a>
                                    <a href="#">Direccion: Cr 15 # 97 - 47 Of.304</a>
                                    <a href="#">Ciudad: Bogotá (Colombia)</a>
                                    <a href="#">Mail: asistente@gps-p.com</a>
                                    <a href="#">Mail: gps.p@hotmail.com</a>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>