{% extends 'base.html.twig' %}

{% block body %}

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('{{ asset('assets/img/manrique/pol6.jpg') }}');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content-overlay">
                        <h3 class="breadcumb-title">Política de Confidencialidad </h3>
                        <ul class="pull-right breadcrumb">
                            <li class="active">Política <span class="divider">/</span></li>
                            <li><a href="{{ path('confidentiality') }}">Política de Confidencialidad </a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    <!-- ***** Features Area Start ***** -->
    <div class="medilife-features-area section-padding-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="features-content">

                        <p class="text-justify">
                            Todos nuestros productos y servicios están amparados por un convenio de confidencialidad para garantizar que su información y la de su empresa esté en manos profesionales y confiables.
                        </p>


                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="features-thumbnail">
                        <img src="{{ asset('assets/img/manrique/pol10.jpg') }}" alt="">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- ***** Features Area End ***** -->

{% endblock %}

{% block javascripts  %}
    {{ parent() }}

{% endblock %}
