{% extends 'base.html.twig' %}

{% block body %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="color-green pull-left">VALORES CORPORATIVOS.</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Política</a> <span class="divider">/</span></li>
                <li class="active">VALORES CORPORATIVOS</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container">
        <div class="row-fluid privacy">
            <p class="lead"><em></em><p>
            <p></p><br />
            <h4>
                <ul>
                    <li>1. Creemos en Dios como guía espiritual, respetando los demás credos</li>
                    <li>2. Los mandatos de la Constitucionales Política de Colombia y las leyes del Estado priman por encima de intereses de grupo o individuales.</li>
                    <li>3. Creemos en ser los mejores.</li>
                    <li>4. El trabajo bien hecho siempre dará  frutos y progresos.</li>
                    <li>5. Las personas tienen su propia importancia como individuos.</li>
                    <li>6. La satisfacción del cliente es el principal parámetro que permite medir la calidad.</li>
                    <li>7. Todos los integrantes de la empresa deben ser innovadores, y como consecuencia  la disposición a apoyarnos en el fracaso.</li>
                    <li>8. El empoderamiento y la informalidad permiten mejorar la comunicación.</li>
                    <li>9. El crecimiento económico y las utilidades de la empresa son dos condiciones  explícitas y plenamente reconocidas por cada socio.</li>
                    <li>10. Respeto por los derechos humanos y la dignidad de las personas.</li>
                <ul>
        </div><!--/row-fluid-->
    </div><!--/container-->
    <!--=== End Content Part ===-->


    <!--=== Footer ===-->
    <div class="footer">
        {{ include('unify/footer.html.twig') }}
    </div><!--/footer-->
    <!--=== End Footer ===-->


    <!--=== Footer ===-->
    <div class="footer">
        {{ include('unify/footer.html.twig') }}
    </div><!--/footer-->
    <!--=== End Footer ===-->


{% endblock %}

{% block javascripts  %}
    {{ parent() }}

{% endblock %}