{% extends 'base.html.twig' %}

{% block body %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="color-green pull-left">POLITICA DE CALIDAD.</h1>
            <ul class="pull-right breadcrumb">
            <li><a href="index.html">Política</a> <span class="divider">/</span></li>
            <li class="active">POLITICA DE CALIDAD</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container">
        <div class="row-fluid privacy">
            <p class="lead"><em></em><p>
            <p></p><br />
            <h4>En su quehacer profesional, el equipo de trabajo de GPS & P Ltda. Se ajusta a los actuales estándares nacionales de calidad establecidos por el Instituto Colombiano de Normas Técnicas y Certificación (ICONTEC), en las normas ISO 9001 versión 2000 y en la normatividad internacional vigente para la administración y la gestión del riesgo, y la seguridad de la información.
        </div><!--/row-fluid-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

    <!--=== Footer ===-->
    <div class="footer">
        {{ include('unify/footer.html.twig') }}
    </div><!--/footer-->
    <!--=== End Footer ===-->


{% endblock %}

{% block javascripts  %}
    {{ parent() }}

{% endblock %}