{% extends 'base.html.twig' %}

{% block body %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="color-green pull-left">RECURSO HUMANO.</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Política</a> <span class="divider">/</span></li>
                <li class="active">RECURSO HUMANO</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container">
        <div class="row-fluid privacy">
            <p class="lead"><em></em></p>
            <h4>Nuestro equipo humano de trabajo está integrado por un grupo interdisciplinario de profesionales y tecnólogos con amplia formación y capacitación así como una amplia experiencia en el manejo de riesgos y amenazas; lo cual complementa con un avanzado y actualizado conocimiento de las diferentes áreas de la Seguridad Integral. Como equipo nos basamos en los conceptos de Gestión Estratégica, Acción Proactiva y Anticipativa, Trabajo en Equipo, Toma de Decisiones Multicriterio y en la búsqueda constante del mejoramiento personal y profesional.
            </h4>
        </div><!--/row-fluid-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

    <!--=== Footer ===-->
    <div class="footer">
        {{ include('unify/footer.html.twig') }}
    </div><!--/footer-->
    <!--=== End Footer ===-->


{% endblock %}

{% block javascripts  %}
    {{ parent() }}

{% endblock %}