{% extends 'base.html.twig' %}

{% block body %}

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('{{ asset('assets/img/manrique/pol6.jpg') }}');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content-overlay">
                        <h3 class="breadcumb-title">Recurso Humano </h3>
                        <ul class="pull-right breadcrumb">
                            <li class="active">Política <span class="divider">/</span></li>
                            <li><a href="{{ path('resource') }}">Recurso Humano </a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    <!-- ***** Features Area Start ***** -->
    <div class="medilife-features-area section-padding-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="features-content">

                        <p class="text-justify">
                            Nuestro equipo humano de trabajo está integrado por un grupo interdisciplinario de profesionales y tecnólogos con amplia formación y capacitación así como una amplia experiencia en el manejo de riesgos y amenazas; lo cual complementa con un avanzado y actualizado conocimiento de las diferentes áreas de la Seguridad Integral. Como equipo nos basamos en los conceptos de Gestión Estratégica, Acción Proactiva y Anticipativa, Trabajo en Equipo, Toma de Decisiones Multicriterio y en la búsqueda constante del mejoramiento personal y profesional.
                        </p>

                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="features-thumbnail">
                        <img src="{{ asset('assets/img/bg-img/about1.jpg') }}" alt="">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- ***** Features Area End ***** -->

{% endblock %}

{% block javascripts  %}
    {{ parent() }}

{% endblock %}
